
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    
}

.wrapper {
    background-color: white;
}

.wrapper2 {
    background-image: url('../img/glaz1280x720.jpg');
    height: 720px;
    background-size: cover;
    background-position: center;

}

.wrapper3 {
    background-color: gainsboro;
    padding-top: 25px;
}

.wrapper4 {
    background-color: white;
    height: 70px;
}
a {
    text-decoration: none;
    color: slategray;
}

.a2 {
    text-decoration: none;
    color: white;
}

.conteiner {
    margin: 0 auto;
}

.header {
    padding: 20px;
}

.menu {
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 800px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 13px;
}

.navigation {
    margin: 0 auto;
    width: 800px;
}

.menu-item {
    flex-basis: 15%;
    font-size: 150%;
}

.info {
    text-align: center;
    margin: 0 auto;
    height: 320px;
}
.p-one {
    text-transform: uppercase;
}

.p2 {
    width: 50%;
    margin: 0 auto;
}

.push {
    background-color: orange;
    width: 115px;
    height: 35px;
    border-color: orange;
    cursor: pointer;
    font-size: 10px;
    text-transform: uppercase;

}

.floor2 {
    text-align: right;
    padding-top: 30px;
    padding-right: 75px;
}


